<!doctype html>
<html>
<head>
    <title>php2{% if title %} - {{ title }}{% endif %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{% if not user %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            {{ include('login.tmpl', {modal: true}, with_context = false) }}
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            {{ include('register.tmpl', {modal: true}, with_context = false) }}
        </div>
    </div>
</div>
{% endif %}
<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand" href="/">php2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            {#<a class="nav-item nav-link active" href="/gallery">Галерея</a>#}
            {#<a class="nav-item nav-link" href="/shop">Магазин</a>#}
            {% for item in menu %}
                <a class="nav-item nav-link {{ item.class }}" href="{{ item.href }}">{{ item.name }}</a>
            {% endfor %}
        </div>
        <span class="navbar-text">
            {% if user %}
                <span class="text-light">Привет, <strong>{{ user.login }}</strong>!</span> <a class="text-light" href="/auth/logout">Выйти</a>
            {% else %}
                <a class="text-light" data-toggle="modal" href="#loginModal" >Войти</a>
                <span class="text-muted">или</span>
                <a class="text-light" data-toggle="modal" href="#registerModal">зарегестрироваться</a>
            {% endif %}
        </span>
    </div>
</nav>
